@model IEnumerable<ButtonGrid.Models.ButtonModel>

<style>
    .game-button {
        width: 74px;
        text-align: center;
        border: none;
    }
    .game-button-image {
        width: 70%;
    }
    .button-zone {
        display: flex;
        flex-wrap: wrap;
    }
    .line-break {
        flex-basis: 100%;
        height: 0;
    }
    .button-label {
        font-size: 8px;
        text-align: center;
    }

</style>

@{
    string[] imagenames = { "blue_button.png", "green_button.png", "purple_button.png", "orange_button.png" };
    bool allMatch = true;
}

<p>Current Time: @DateTime.Now</p>
<form>
    <div class="button-zone">
        @for (int i = 0; i < Model.Count(); i++)
        {
            @if(Model.ElementAt(0).ButtonState != Model.ElementAt(i).ButtonState)
            {
                allMatch = false;
            }

            // start a new line every five elements
            @if (i % 5 == 0)
            {
                <div class="line-break"></div>
            }

            <div class="oneButton" id="@i">

                <button class="game-button" name="buttonNumber" value="@Model.ElementAt(i).Id" type="submit" asp-controller="button" asp-action="HandleButtonClick">
                    <img class="game-button-image" src="~/img/@imagenames[Model.ElementAt(i).ButtonState]" />

                    <div class="button-label">
                        @Model.ElementAt(i).Id
                        , 
                        @Model.ElementAt(i).ButtonState
                    </div>
                </button>

            </div>

            
        }
    </div>
</form>

@if (allMatch)
{
    <p>Congratulations. All the buttons match.</p>
}
else
{
    <p>Not all the buttons are the same color. See if you can make them all match.</p>
}
